.container_menu-title{
  color: white;
}

.container_menu-title h1{
margin: 15px 0 15px 0;
font-size: 150px;
display: flex;
justify-content: center;
font-family: 'segoe UI';
}

.container_menu-title hr{
  margin: 20px 0 5px 0;
}
